Package: po4a
Version: 0.67
Section: interpreters
Priority: important
Depends: libranext (>=4.0), perl (>=5.34), yaml-tiny (>=1.73)
Architecture: all
Maintainer: Alec Bloss <abloss@libranext.com>
Description: tools to ease the translation of documentation
 po4a eases the translation of documentation and other textual document. Even more interestingly, it makes it easy to maintain these translations when the original document changes. This is done by using the gettext tools in this new domain.
