Package: libranext
Version: 4.0
Section: base
Priority: required
Architecture: all
Essential: yes
Maintainer: Alec Bloss <abloss@libranext.com>
Description: This is a dummy package, intended to provide a simple bootstrap to install other packages on a bare Libranext system.