Package: iproute2-doc
Version: 5.16.0
Section: doc
Priority: optional
Depends: libranext (>=4.0), iproute2 (>=5.16.0)
Architecture: amd64
Maintainer: Alec Bloss <abloss@libranext.com>
Description: networking and traffic control tools
 The iproute2 suite is a collection of utilities for networking and traffic control.
