Package: gcc-minimal
Version: 11.2.0-1
Section: devel
Priority: important
Depends: libranext (>=4.0), libranext-base (>=4.0), binutils (>=2.38), gmp (>=6.2.1), mpfr (>=4.1.0), mpc (>=1.2.1), zstd (>=1.5.2), zlib  (>=1.2.11), glibc (>=2.35)
Provides: gcc (=11.2.0), libgcc-s1 (=11.2.0), g++, cc, c-compiler, c++-compiler
Conflicts: gcc-std
Architecture: amd64
Maintainer: Alec Bloss <abloss@libranext.com>
Description: The GCC Minimal package only contains the GNU C and C++ compilers.
