Package: efivar
Version: 38
Section: admin
Priority: important
Essential: no
Depends: libranext (>=4.0), glibc (>=2.35), mandoc (>=1.14.6)
Provides: libefiboot1 (=38), libefivar1 (=38)
Recommends: grub-efi, efibootmgr
Architecture: amd64
Maintainer: Alec Bloss <abloss@libranext.com>
Description: Tools to manage UEFI variables
 efivar provides a simple command line interface to the UEFI variable facility.
