Package: dejagnu
Version: 1.6.3
Section: devel
Priority: important
Depends: libranext (>=4.0), expect (>=5.45.4)
Architecture: amd64
Maintainer: Alec Bloss <abloss@libranext.com>
Description: DejaGnu is a framework for testing other programs.
